body {
	background-color: #e9ebee;
	overflow-x: hidden;
	font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
	webkit-tap-highlight-color: #fed136
}
.titre-contact {
	padding-bottom: 25px;
}
.titre-page {
	padding-bottom: 35px;
}
<<<<<<< HEAD

footer{
	padding-top: 10px;
	background: #333;
	color: white;
	font-family: 'Lato', sans-serif;
	 font-weight: 100;
	 font-size: 14px;
	}

.footer-copyright{
	font-family: 'Lato', sans-serif;
	 font-weight: 100;
	 font-size: 14px;
	 text-align: center;
	padding-top: 100px
}
.portfolio-caption {
	max-width: 400px;
    margin: 0 auto;
    background-color: #333;
    text-align: center;
    padding: 25px;
}



header {
	background-image: url(http://jixart.fr/img/slide.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	text-align: center;
	color: #fff;
	
}
header .intro-text {
	padding-top: 100px;
	padding-bottom: 50px
}
header .intro-text .intro-lead-in {
	font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 22px;
	line-height: 22px;
	margin-bottom: 25px
}
header .intro-text .intro-heading {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 50px;
	line-height: 50px;
	margin-bottom: 25px
}
<<<<<<< HEAD

=======
@media (min-width:768px) {
	header .intro-text {
		padding-top: 300px;
		padding-bottom: 200px
	}
	header .intro-text .intro-lead-in {
		font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-style: italic;
		font-size: 40px;
		line-height: 40px;
		margin-bottom: 25px
	}
	header .intro-text .intro-heading {
		font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 75px;
		line-height: 75px;
		margin-bottom: 50px
	}
}
>>>>>>> origin/master
