body {
	background-color: #e9ebee;
	overflow-x: hidden;
	font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
	webkit-tap-highlight-color: #fed136
}
.titre-contact {
	padding-bottom: 25px;
}
.titre-page {
	padding-bottom: 35px;
}
.padd100 {
	padding-top: 100px
}
.portfolio-caption {
	max-width: 400px;
    margin: 0 auto;
    background-color: #333;
    text-align: center;
    padding: 25px;
}


footer{
	width: 100%;
	position: absolute;
	bottom: 0px;
	padding-top: 10px;
	background:#333;
	color: white;
	font-family: 'Lato', sans-serif;
	 font-weight: 100;
	 font-size: 14px;
	}

.footer-copyright{
	font-family: 'Lato', sans-serif;
	 font-weight: 100;
	 font-size: 14px;
	 text-align: center;

}
.portfolio-caption {
	max-width: 400px;
    margin: 0 auto;
    background-color: #333;
    text-align: center;
    padding: 25px;
}
.navbar-default{
	opacity: :.4;
	height: 80px;
	background: #333;
	color: white;
	border:none;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a{
	margin-right: 20px;
	color: white;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 15px;
	opacity: 0.9;
	transition-duration:.3s;

}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	transform: scale(1.1);	
	color: white;
	opacity: 1;
	transition-duration:.3s;
}

.navbar-default .navbar-brand{

	color: white;
	color: white;
	margin-top: 12px;
	font-size: 38px;
	font-family: 'Lato', sans-serif;
	font-weight: 800;
	letter-spacing: 1px;
	transition-duration:.3s ;

}
.navbar-default .navbar-brand:hover{
	color: white;
	transform: scale(1.2);
	transition-duration:.3s ;
	
}
.navbar-default .navbar-brand:hover .art{
	margin-left: 10px;
	transition-duration:.3s ;
}
.art{
	transition-duration:.3s ;
}
.intro-lead-in{
	font-family: 'Lato', sans-serif;
	font-weight: 100;
}
.intro-heading{

	transition-duration:.3s ;
}
.intro-heading:hover{
		transform: scale(1.2);	
		transition-duration:.3s ;
}
.intro-heading:hover .art{

	margin-left: 15px;
	transition-duration:.3s ;
}
.btn-primary{
	border:1px solid #fff;
	background-color: transparent;
	transition-duration:.3s ;
}
.btn-primary:hover{
	border:1px solid #fff;
	background-color: transparent;
	transition-duration:.3s ;
	margin: 5px 5px;
	transform: scale(1.1);	
}

header {
	height: 100vh;
	background-image: url(http://jixart.fr/img/slide.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	text-align: center;
	color: #fff
}
header .intro-text {
	padding-top: 100px;
	padding-bottom: 50px
}
header .intro-text .intro-lead-in {
	font-family: "lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 22px;
	line-height: 22px;
	margin-bottom: 25px
}
header .intro-text .intro-heading {
	font-family: 'lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-size: 50px;
	line-height: 50px;
	margin-bottom: 25px
}
@media (min-width:768px) {
	header .intro-text {
		padding-top: 300px;
		padding-bottom: 200px
	}
	header .intro-text .intro-lead-in {
		font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-style: italic;
		font-size: 40px;
		line-height: 40px;
		margin-bottom: 25px
	}
	header .intro-text .intro-heading {
		font-family: 'lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
	
		font-weight: 700;
		font-size: 75px;
		line-height: 75px;
		margin-bottom: 50px
	}
}